* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid green;
}

.container {
    width: 800px;
    height: 800px;
    display: grid;
}

.container div {
    aspect-ratio: 1/1;
}